*{
 font-family: 'Open Sans', sans-serif;
 margin: 0;
}
.text-primary {
  color: #FD6E0A;
}
/* header and navigation styles */
.header {
  background-color: #FFF8F3;
  background-image: url('../images/header_bg.png'), url('../images/developer.png');
  background-repeat: no-repeat;
  background-position:bottom right,left;
  /* background-blend-mode: multiply; */
}
.nav-title{
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 45px;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 50px 200px;
}
nav ul li{
  list-style: none;
  margin-left: 50px;
}
nav ul{
  display: flex;
  align-items: center;
}
.btn-primary {
  height: 64px;
  background-color: #FD6E0A;
  border: 0;
  color: #FFFFFF;
  border-radius: 5px;
  padding: 18px 35px;
  font-weight: 700;
  font-size: 20px;
}
/* banner styles */
.banner{
  display: flex;
  align-items: center;
  margin: 0 200px;
}
.banner-subtitle{
  color:#474747;
  font-weight: 600;
  font-size: 45px;
}
.banner-title{
  font-weight: 700;
  font-size: 65px;
}
.banner-description{
  color: #757575;
  font-weight: 400;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 30px;
}
main{
  max-width: 1140px;
  margin: 0 400px;
}
.about{
  margin-top: 130px;
  padding: 130px;
  text-align: center;
  background-color: #FFF8F3;
  border-radius: 10px;
}
.section-title{
  text-align: center;
  color: #181818;
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 50px;
}
.section-description{
  color: #757575;
  font-weight: 400;
  font-size: 18px;
}
.about-info-container{
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.about-info{

}
.info-title{
  color: #757575;
  font-size: 20px;
}
.info-detail{
  color: #474747;
  font-weight: 700;
  font-size: 20px;
}
/* what i do section */
.what-i-do{
  text-align: center;
  margin: 130px 100px 0;
}
.skills-container{
  display: flex;
}
.skill{
  text-align: left;
  margin-right: 24px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
}
.skill-name{
  color: #181818;
  margin-top: 20px;
  font-weight: 700;
  font-size: 20px;
}
.skill-description{
  color: #757575;
  margin-top: 30px;
}
/* Resume section */
.resume-container{
  display: flex;
  gap: 70px;
}
.resume-content{

}
.resume-content-title{
  color: #474747;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 30px;
}
.resume-item{
  border-bottom: 2px solid black;
}
.item-title{
  color: #474747;
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 10px;
}
.item-subtitle{
  font-weight: 600;
  font-size: 20px;
  color: #757575;
  margin-bottom: 20px;
}
.item-description{
  font-weight: 400;
  font-size: 16px;
  color: #757575;
  padding-bottom: 30px;
}
/* second download button */
.resume button{
  margin:  30px 470px 0;
}

/* footer & form */
.footer{
  display: flex;
  gap: 100px;
  background: #FFF8F3;
  /* margin-top: 100px; */
  margin-bottom: 100px;
  margin-left: -400px;
  margin-right: -500px;
  padding: 30px 100px 150px 250px;
}
.footer .section-title{
  text-align: left;
  margin-top: 50px;
}
.footer input{
  display: block;
}
.footer input{
  height: 40px;
  width: 350px;
}
.footer input, textarea{
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.section-descripttion{
  color: #474747;
}
.footer-icons{
  margin-top: 25px;
}
.footer-icons img{
  margin-right: 25px;
}
.form-div{
  padding-bottom: 100px;
  border: 10px solid black;
  padding-left: 100px;
  padding-right: 100px;
  /* margin-left: 100px; */
}

